name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Tools
        run: pip install streamlit snowflake-snowpark-python pandas plotly snowflake-cli-labs

      - name: Debug Secrets
        run: |
          if [ -z "${{ secrets.SNOWFLAKE_ACCOUNT }}" ]; then echo "❌ Account Secret Missing"; exit 1; fi
          echo "✅ Secrets found."

      - name: Deploy to Snowflake
        # We define a temporary connection named 'gha' using environment variables
        env:
          SNOWFLAKE_CONNECTIONS_GHA_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_CONNECTIONS_GHA_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_CONNECTIONS_GHA_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_CONNECTIONS_GHA_ROLE: ACCOUNTADMIN
          SNOWFLAKE_CONNECTIONS_GHA_WAREHOUSE: DASHBOARD_WH
          SNOWFLAKE_CONNECTIONS_GHA_DATABASE: DASHBOARD_DB
          SNOWFLAKE_CONNECTIONS_GHA_SCHEMA: APP_SCHEMA
        run: |
          # 1. Drop old app (Using connection 'gha')
          snow sql --connection gha -q "DROP STREAMLIT IF EXISTS Production_Monitor_App"
          
          # 2. Deploy new app (Using connection 'gha')
          snow streamlit deploy Production_Monitor_App --connection gha --replace